.arial {
    font-family: Arial;
}

.courier-new {
    font-family: 'Courier New';
}

.impact {
    font-family: Impact;
}

.monospace {
    font-family: monospace;
}

.open-sans {
    font-family: 'Open Sans';
}

.times-new-roman {
    font-family: 'Times New Roman';
}

.ubuntu {
    font-family: Ubuntu;
}