.i-font-color {
    border-bottom: 3px solid red;
    width: 18px;
}

.i-big-t {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.i-small-t {
    font-size: 7px;
}

.i-horizontal-rule {
    font-weight: bold;
}

.i-heading {
    font-weight: bold;
}

.i-font-family {
    height: 16px;
}

.i-image {
    cursor: pointer;
    padding: 10px;
}

input[type="file"] {
    display: none;
}
